*{
  box-sizing:;
}

body {
    background-color: rgb(49,54,62);  
    position: inline-block;
}
img {
  display: block;
  margin-left: 1em;
  margin-right: auto;
  max-width: 100%
}

h1, h2{
  margin: 10px 0;
  font-family: 'Oswald',sans-serif;
  font-weight: bold;
  line-height: 20px;
  color: #e36b23;
}
#poster{
  margin-left: 1em;
}

ul {
  color: white;
  list-style-type: none;
}
a{
  position: inline-block;
}
div.container{
  width:200px;
  float: left;
}